body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #232222;
    color: rgb(210, 211, 211);
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h3 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(134, 134, 134);
}
p {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    
    color: #fff;
}
.container-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    
}
.button-q {
    flex: 1;
    text-decoration: none;
    background-color: rgb(26, 119, 240);
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    border-radius: 100px;
    padding: 15px 30px;
    margin: 10px;
}

.button-o {
    text-decoration: none;
    background-color: rgb(26, 119, 240);
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.2px;
    border-style: none;
    border-radius: 100px;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
}